.detail {
  font-size: 18px;
  margin-bottom: 50px;
}
.itemRoadmap__name {
  display: block;
  padding: 10px 30px;
  background-color: #2222;
  text-align: center;
  text-transform: uppercase;
  border-radius: 12px;
}
.itemRoadmap__name:hover {
  opacity: 0.8;
}
