a{
    text-decoration: none;
}
.wrapper{
    min-height: 100vh;
    background-color: #1B1D25;
    color: white;
}
// ============== Header ====================
.header{
    display: flex;
    justify-content: space-between;
}
.header .info{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header .btnLogout{
    display: block;
    padding: 10px 25px;
    background-color: #E55353;
    color: #ffff;
    margin-left: 15px;
    border-radius: 10px;
}
.header .btnLogout:hover{
    opacity: 0.8;
}
.header .nameUser{
    font-size: 18px;
    font-weight: bold;
}
.header .avartar{
    margin-right: 15px;
    border-radius: 50px;
}
.title{
    font-size: 36px;
    
}
// ============== Menu ====================
.mainMenu{
    background-color: #2A2B36;
    min-height: 100vh;
}
.mainMenu>.Menu{
    padding: 0;
    margin-top: 90px;
}
.mainMenu>.Menu>.item{
    list-style-type: none;
    margin-bottom: 15px;
}
.mainMenu>.Menu>.item>.item_link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #ffff;
    font-size: 17px;
    font-weight: bold;
    height: 60px;
    margin: 0px 20px;   
    border-bottom: 1px solid #1B1D25; 
}
.mainMenu>.Menu>.item:hover>.item_link{
    background-color: #5C61ED;
}